body{
  background-color: #E7E7E7;
  text-align: center;
}

h1{
  font-family:'Coda Caption', sans-serif;
  text-align: center;
}

a{
  color: black;
  background-color: white;
  font-size: 40px;
  font-family:'Coda Caption', sans-serif ;
  padding: 20px;

}

button{
  text-align: center;
  padding: 20px;
  font-size: 20px;
  border-radius: 20px;
  font-family: 'Coda Caption', sans-serif;
}

#piano1{
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 100px;
}

#piano2{
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-left: 60px;
  margin-right: 30px;
  margin-top: 100px;
}

.piano11{
  background-color: white;
  width: 100px;
  height: 600px;
  border: 1px solid black;
}

.piano12{
  background-color: black;
  width: 70px;
  height: 400px;
  border: 1px solid white;
  margin-right: 30px;
}

.piano13{
  background-color: none;
  width: 70px;
  height: 400px;
  margin-right: 30px;
}

#guitarpic{
  width: 400px;
}

#gPlay{
  margin: 10px;
}

#guitarDiv{
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-content: center;
  margin-top: 310px;
}

.guitar1{
  height: 5px;
  width: 700px; 
  background-color: gold;
  margin: 10px;
}

#gBody{
  display: flex;
  justify-content: center;
}


/* drum */

#drumpic{
  width: 1000px;
}

#dBody{
  display: flex;
  justify-content: center;
}

#dPlay{
  margin-bottom: 30px;
}

#d1{
  /* background-color: gold; */
  width: 190px;
  height:180px;
  position: absolute;
  margin-top: 40px;
  margin-right: 740px;
}

#d2{
  /* background-color: gold; */
  width: 200px;
  height:190px;
  position: absolute;
  margin-top: 40px;
  margin-left: 740px;
}

#d3{
  /* background-color: gold; */
  width: 190px;
  height:180px;
  position: absolute;
  margin-top: 250px;
  margin-right: 650px;
}

#d4{
  /* background-color: gold; */
  width: 160px;
  height:160px;
  position: absolute;
  margin-top: 40px;
  margin-right: 220px;
}

#d5{
  /* background-color: gold; */
  width: 160px;
  height:160px;
  position: absolute;
  margin-top: 40px;
  margin-left: 270px;
}

#d6{
  /* background-color: gold; */
  width: 160px;
  height:160px;
  position: absolute;
  margin-top:380px;
  margin-right: 250px;
}

#d7{
  /* background-color: gold; */
  width: 170px;
  height:170px;
  position: absolute;
  margin-top: 360px;
  margin-left: 450px;
}

#d8{
  background-color:black;
  width: 160px;
  height:150px;
  position: absolute;
  margin-top: 255px;
  margin-left: 790px;
}



