*{
  font-size: 30px;
  margin: 0;
}

button{
  padding: 20px;
  border: dotted 4px white;
  background-color: lightblue;
  width: 100px;
}

input{
  padding: 20px;
  width: 200px;
}

#printNum{
  background-color: black;
  color: white;
  padding: 20px;
}

.flex{
  text-align: center;
  justify-content:center;
  width: 220px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  background-color: darkblue;
  padding: 20px;
}
